:root {
  --Text-color-2: #848480;
  --Text-color-3: #f1f1e8;
}

.footer_container {
  background-color: var(--Main-Bg);
  min-height: 100vh;
  padding: 4em 1em;
}

.logo_container {
  margin-bottom: 3em;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_img {
  width: 60px;
}

.company_name {
  color: var(--Text-Color-1);
  text-decoration: none;
  font-size: 1.3rem;
}

.footer_nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.ul {
  font-size: 1rem;
  margin-right: 8em;
  list-style: none;
  margin-top: 2em;
}

.fifth_nav_section .ul {
  display: flex;
  gap: 5em;
  margin-top: 1.7em;
  margin-bottom: 1.5em;
} 

/* .fifth_nav_section .ul .footer_link {

} */

.footer_icon {
  font-size: 1.3rem;
}

.info_text {
  color: var(--Text-color-2);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.footer_link_wrapper {
  margin-bottom: 1.5em;
}

.footer_link {
  text-decoration: none;
  color: var(--Text-color-3);
  font-size: .9em;
}