.hero_container {
  width: 100%;
  position: relative;
  min-height: 70vh;
}

.hero_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  aspect-ratio: 4 / 3; 
}

.hero_content {
  position: absolute;
  left: 6em;
  top: 20%;
}

.hero_text {
  font-size: 2.8rem;
  color: var(--Text-Color-1);
  font-weight: 700;
  margin-bottom: 1em;
}

.colored {
  color: #628fe2;
}

.form_wrapper {
  width: 100%;
  border: 1px solid black;
  padding: .5em;
  background-color: #ffffff;
  border-radius: 2.5em;
}

.form_input {
  padding: .7em 1.5em;
  font-size: 1.2rem;
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
}

.form_input::placeholder {
  color: #acacac;
}

.form_btn {
  width: 20%;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: .7em;
  border: 1px solid black;
  outline: none;
  border-radius: 2.5em;
}

