:root {
  --Main-Bg: #1d1d1d;

  --Text-Color-1: #ffffff;
}

.NavBar_container {
  width: 100%;
}


.nav_container {
  width: 100%;
  background: var(--Main-Bg);
  display: flex;
  align-items: center;
  padding: 1em 6em;
}

.logo_container {
  margin-right: auto;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_img {
  width: 60px;
}

.company_name {
  color: var(--Text-Color-1);
}

.link_wrapper {
  margin-left: 4em;
  display: block;
}

@media only screen and (max-width: 1023px) {
  .link_wrapper {
    display: none;
  }
}


.nav_link {
  text-decoration: none;
  color: var(--Text-Color-1);
  margin-right: 1.5em;
  font-size: 1.1rem;
  font-weight: 700;
}

.nav_toggle_wrapper {
  
}

